@import '../../../assets/scss/variables';

#buttonLogout {
    right: 0;
    bottom: 0;
    margin: 16px;
    border: none;
    padding: 14px;
    cursor: pointer;
    background: $pink;
    position: absolute;
    border-radius: 50%;
    color: $text-color;

    display: flex;
    align-items: center;
    justify-content: center;
}