@import './variables';

.form-group {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;

  > label {
    font-weight: 600;
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  > input,
  > select,
  > textarea {
    color: #495057;
    background-color: #fff;
    padding: 0.675rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: $border-radius;

    &:focus,
    &:active {
      outline: none !important;
    }
  }
}

