<section id="user-registration">
  <article>
    <div>
      <label>Nome</label>
      <input type="text" name="name" id="name" [(ngModel)]="user.name" />
    </div>

    <div>
      <label>Email</label>
      <input type="email" name="email" id="email" [(ngModel)]="user.email" />
    </div>

    <div>
      <label>Senha</label>
      <input
        id="password"
        type="password"
        name="password"
        [(ngModel)]="user.password"
      />
    </div>

    <div>
      <label>Confirme a Senha</label>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        [(ngModel)]="confirmPassword"
      />
    </div>
    <section>
      <button (click)="save()">Salvar</button>
      <a (click)="backToLogin()">Voltar</a>
    </section>
  </article>
</section>
